./literature-and-miscellaneous/lecture_6.pdf
./literature-and-miscellaneous/xyz.dump⁄pbp.lammpstrj
./.git/objects/5a/a0b06769fbcb952b7af8e9bd3c1e5b84a05d75
./literature-and-miscellaneous/lecture_6.pdf
./literature-and-miscellaneous/xyz.dump⁄pbp.lammpstrj
